@model WallpaperViewModel

<div>
	<h2 class="text-center" style="color: white">By @Model.UploaderName: @Model.Ttitle</h2>
	<a href="@Model.ImagePath" download="@Model.Ttitle">
		<button class="btn">Download Wallpaper</button>
	</a>
	<img class="d-block w-100" id="wallpaperDetails" src="@Model.ImagePath">
</div>