@model WallpaperViewModel



@* <div class="col">
    <div class="card h-100">
        <img src="@Model.ImagePath">
        <div class="card-body">
            <h5 class="card-title">@Model.Ttitle</h5>
            <h4>By: @Model.UploaderName</h4>
        </div>
    </div>
</div> *@

<a asp-controller="Wallpaper" asp-action="Details" asp-route-id="@Model.Id">
    <div class="img-box">
        <img src="@Model.ImagePath" title="Details">
        <div class="transparent-box">
            <div class="caption">
                <p>@Model.Ttitle</p>
                <h4>By: @Model.UploaderName</h4>
            </div>
        </div>
    </div>
</a>


